@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Slab&family=Oswald&family=Roboto+Slab&family=Merriweather&display=swap');

$offwhite:  #EEE8D6;
$darkblue:  #022933;
$yellow:    #FFBA00;
$blue:      #0076A3;
$green:     #548C27;
$orange:    #F39856;
$red:       #D14348;
$purple:    #5D73C2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;

$font-main: Merriweather, Helvetica, sans-serif;
$font-highlight: "Bree Serif", Helvetica, sans-serif;